body{
   background: url(r.png) no-repeat center center fixed; 

   /* background-color: rgb(58, 56, 56); */
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    width: 100%;
  height: auto;
  
}
.head{
    position: relative;
    top: 15px;
    margin: 0px 0px 0px 0px;
    
}

.cont{
    /* background-image: url(ff.jpg); */
     background-color: rgba(154,198,208,0.92); 
    
    margin: 180px 200px 180px 200px;
    margin-top: 100px;
    border-radius: 10px;
    /* display: flexbox; */
    border-style: solid;
    border-color: black;
    min-width: 700px;
    
}
.container{
    border-radius: 10px;
    /* position: relative;
    top:67px; */
    background-color: rgb(251,204,68);
    
    /* margin-bottom: 90px; */
    
    /* height:400px;
    width:600px; */
    margin: 80px 150px 80px 150px;
    min-width: 400px;
    /* margin-left: 130px; */
    
    border-style: solid;
    border-color: black;
}



input{
    margin-left: 90px;
   
    
}
p{
    font-size: 20px;
    
}
@media(min-width: 1200px) 
  {
h2{
    position: relative;
    bottom:108px;
    left: 30px;
    
}}

@media(min-width: 992px) and (max-width: 1199px)
  {
      h2{
        position: relative;
        bottom:75px;
        left: 17px;
        font-size: 19px;
      }
    }

    @media(min-width:0px) and (max-width: 992px)   
  {
      h2{
        position: relative;
        bottom:68px;
        left: 17px;
        font-size:16px;}


      }
.all{
    position: relative;
    bottom: 40px;
   
}



.heading{
    background-color: rgba(251,169,96,0.95);
    width: 700px;
    height: 120px;
    font-size: 50px;
    text-align: center;
    border-radius: 10px;
    border-width: 4px;
    border-style: solid;
    border-color: black;
    position: relative;
    left: 150px;
    
    width: 80%;
  height: auto;
    
   
}

h3{
    position: relative;
    left: 260px;
    font-size: 21px;
    border-radius: 10px;
    text-align: center;
    width: 60%;
    height: auto;
    
}

.bt{
    background-color: rgb(150, 150, 160);
    width: 90px;
    height: 50px;
    font-size: 18px;
    color: rgb(255, 249, 249);
    position: relative;

left: 150px;
bottom: 30px;
border-style: solid;
border-color: black;
}

.bt:hover{
    cursor: pointer;
    background-color: rgb(33, 71, 141);
}

/* *, *::after, *::before {
    box-sizing: border-box;
  } */
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-body {
    padding: 10px 15px;
  }
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }

  .responsive {
  width: 100%;
  height: auto;
}
